<div class="submenu">
	<label class="bmd-label-floating">sub menu</label>
	<%= f.text_field :name %>
	<%= f.hidden_field :menu_id %>
	<%= f.check_box :_destroy, as: :hidden %>
    <%= link_to '', '#', class: 'remove_record fa fa-trash' %>
</div>
