<p id="notice"><%= notice %></p>
<%= video_tag(url_for(@training_video.video), style: "width: 200px; height: auto;", controls: "") %>
<%= link_to 'Edit', edit_training_video_path(@training_video) %> |
<%= link_to 'Back', training_videos_path %>
