<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>Our Mission</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="/about_our_mission">Our Mission</a></li>
            </ul>
        </div>
    </div>
   
 
 <div class="section-block-bg" style="background-image: url('/assets/bg5.jpg');">
   <div class="container">
      <div class="section-heading text-center">
         <h3 class="semi-bold font-size-35">Creative solutions, creative results.</h3>
         <div class="section-heading-line line-thin"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="row mt-30">
         <div class="col-md-4 col-sm-12 col-12">
            <div class="service-block">
               <%= image_tag("s10.jpg", alt: "img") %>
               <div class="service-block-content">
                  <h4>Business Development</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.</p>
                  <a href="#" class="service-block-content-button"><i class="fa fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 col-12">
            <div class="service-block">
               <%= image_tag("s11.jpg", alt: "img") %>
               <div class="service-block-content">
                  <h4>Risk Management</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.</p>
                  <a href="#" class="service-block-content-button"><i class="fa fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 col-12">
            <div class="service-block">
              <%= image_tag("s12.jpg", alt: "img") %>
               <div class="service-block-content">
                  <h4>Business Accounting</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed.</p>
                  <a href="#" class="service-block-content-button"><i class="fa fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>  



<div class="section-block grey-bg background-shape-3">
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-5 col-12">
            <div class="section-heading">
               <small class="uppercase">Our Vision, Mission & Values</small>
               <h4 class="semi-bold">We're knowledgeable about making benefits higher</h4>
            </div>
            <div class="text-content mt-15">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
            </div>
            <ul class="primary-list mt-20">
               <li><i class="fa fa-check-circle"></i>Solving problems, building brands.</li>
               <li><i class="fa fa-check-circle"></i>Building brands with purpose and passion.</li>
               <li><i class="fa fa-check-circle"></i>Connecting customers to your brand.</li>
            </ul>
            <a href="#" class="button-md button-primary mt-30">Read More</a>
         </div>
         <div class="col-md-6 col-sm-6 col-12 offset-md-1"> <%= image_tag("home13.jpg",class: "position-relative extra-rounded-border shadow-primary z-index-9 mt-30-xs", alt: "img") %></div>
      </div>
   </div>
</div>