
    <div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>Training</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Training</a></li>
            </ul>
        </div>
    </div>
   
  
 <div class="section-block">
         <div class="container">
            <div class="section-heading text-center">
               <small class="grey-color font-size-20 font-weight-normal">Training</small>
               <h3 class="semi-bold"><span class="primary-color">PICK A PROGRAM</span>  THAT SUITS YOUR NEEDS !</h3>
               <div class="section-heading-line line-thin"></div>
            </div>
            <div class="row mt-10">
               
               <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="features-box-5">
                     <span>01</span>
                        <%= image_tag("i2.png") %>
                     <h4>Paramount</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="features-box-5">
                     <span>02</span>
                        <%= image_tag("i3.png") %>
                     <h4>Eclipse</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="features-box-5">
                     <span>03</span>
                        <%= image_tag("i4.png") %>
                     <h4>Dexter</h4>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid pl-0 pr-0">
         <div class="row no-gutters">
            <div class="col-md-6 col-sm-12 col-12">
               <div class="padding-10-perc grey-bg background-80 background-no-repeat background-center">
                  <div class="section-heading text-left">
                     <small class="grey-color font-size-20 font-weight-normal">Limited Period Mentorship Complimentary</small>
                     <h4 class="semi-bold font-size-35">Paramount</h4>
                  </div>
                
				     <div class="text-content mt-20">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
                  </div>
      			  <div class="row">
         				<div class="col-md-8 col-sm-12 col-12">
         				   <ul class="primary-list mt-20">
            				   <li><i class="fa fa-check"></i>Pre-Essentials</li>
                           <li><i class="fa fa-check"></i>Price Action</li>
                           <li><i class="fa fa-check"></i>Trend Analysis – Uptrend/Downtrend/Consolidation</li>
                           <li><i class="fa fa-check"></i>Studies and Patterns</li>
                           <li><i class="fa fa-check"></i>Entry/ Re-Entry</li>
                           <li><i class="fa fa-check"></i>Optimal Exits</li>
                        </ul>
         				</div>	
         	         <div class="col-md-4 col-sm-12 col-12">
         				   <ul class="primary-list mt-20">				  
                           <li><i class="fa fa-check"></i>Handling Slippages</li>
                           <li><i class="fa fa-check"></i>Do’s and Dont’s</li>
                           <li><i class="fa fa-check"></i>Risk Management</li>
                           <li><i class="fa fa-check"></i>Money Management</li>
                           <li><i class="fa fa-check"></i>Position Sizing</li>
                           <li><i class="fa fa-check"></i>Jackpot</li>
                        </ul>
         				</div>					
         			</div> 
            <div class="mt-40"><a href="#" class="button-primary button-sm">Yes i am Interested</a></div>
            </div>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
               <div class="full-background background-right min-350" style="background-image: url('/assets/home15.jpg');"></div>
            </div>
         </div>
      </div>
      <div class="container-fluid pl-0 pr-0">
         <div class="row no-gutters reverse-xs">
            <div class="col-md-6 col-sm-12 col-12">
               <div class="full-background background-left min-350" style="background-image: url('/assets/home16.jpg');"></div>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
               <div class="padding-10-perc grey-bg background-80 background-no-repeat background-center">
                  <div class="section-heading text-left">
                     <small class="grey-color font-size-20 font-weight-normal">Limited Period Mentorship Complimentary</small>
                     <h4 class="semi-bold font-size-35">Eclipse</h4>
                  </div>
                  <div class="text-content mt-20">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
                  </div>
                      <ul class="primary-list mt-20">
					  
					  <li><i class="fa fa-check"></i>Quantitative techniques</li>
                     <li><i class="fa fa-check"></i>Statistical tools</li>
                     <li><i class="fa fa-check"></i>Permutation combination</li>
                     <li><i class="fa fa-check"></i>Game of Probabilities</li>
                     <li><i class="fa fa-check"></i>Live Market Trading</li>
                     <li><i class="fa fa-check"></i>Unconventional use of conventional tools</li>
                     <li><i class="fa fa-check"></i>Trade Management</li>

                  </ul>
				  <div class="mt-40"><a href="#" class="button-primary button-sm">Yes i am Interested</a></div>
				  
               </div>
			   
            </div>
         </div>
      </div>
      

	   <div class="container-fluid pl-0 pr-0">
         <div class="row no-gutters">
            <div class="col-md-6 col-sm-12 col-12">
               <div class="padding-10-perc grey-bg background-80 background-no-repeat background-center">
                  <div class="section-heading text-left">
                     <small class="grey-color font-size-20 font-weight-normal">Limited Period Mentorship Complimentary</small>
                     <h4 class="semi-bold font-size-35">Dexter</h4>
                  </div>
                
				<div class="text-content mt-20">
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa</p>
                  </div>
				<div class="row">
				<div class="col-md-8 col-sm-12 col-12">
				   <ul class="primary-list mt-20">
				
               <li><i class="fa fa-check"></i>Options as tools for Speculation during events</li>
               <li><i class="fa fa-check"></i>Optimization of strategies as per market conditions</li>
               <li><i class="fa fa-check"></i>Optimal use of options as per market trend</li>

               <li><i class="fa fa-check"></i>Options as tools for Hedging</li>
               <li><i class="fa fa-check"></i>Options as tools for wealth creations</li>
               <li><i class="fa fa-check"></i>Options as tools for income generation</li>
               <li><i class="fa fa-check"></i>Portfolio Diversification among different asset class – Equity, Commodities and Currencies</li>
                                 </ul>
               				</div>		

               	<div class="col-md-4 col-sm-12 col-12">
               				   <ul class="primary-list mt-20">
                <li><i class="fa fa-check"></i>Derivatives</li>
               <li><i class="fa fa-check"></i>Hedging</li>
               <li><i class="fa fa-check"></i>Arbitration</li>				   
               <li><i class="fa fa-check"></i>Cross Hedging</li>

               <li><i class="fa fa-check"></i>Fire Fighting</li>
               <li><i class="fa fa-check"></i>Option Greeks</li>
               <li><i class="fa fa-check"></i>Trading psychology</li>

                  </ul>
				</div>					
				</div>  
				




               
                  <div class="mt-40"><a href="#" class="button-primary button-sm">Yes i am Interested</a></div>
               </div>
            </div>
            <div class="col-md-6 col-sm-12 col-12">
               <div class="full-background background-right min-350" style="background-image: url('/assets/home13.jpg');"></div>
            </div>
         </div>
      </div>