<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>HEDGE FUNDS</h1>
            <ul>
               <li><%= link_to "Home", root_path %></li>
               <li><a href="#">Pages</a></li>
               <li><a href="#">Hedge Funds</a></li>
            </ul>
        </div>
    </div>
	
	
	<div class="container-fluid pl-0 pr-0">
   <div class="row no-gutters">
      <div class="col-md-6 col-sm-12 col-12">
         <div class="full-background min-350" style="background-image: url('/assets/home4.jpg');"></div>
      </div>
      <div class="col-md-6 col-sm-12 col-12">
         <div class="padding-10-perc grey-bg background-80 background-no-repeat background-center" style="background-image: url('/assets/bg1.png')">
            <div class="section-heading text-left">
               <small class="grey-color font-size-20 font-weight-normal">Our Growth</small>
               <h4 class="semi-bold font-size-35">What is Hedge Funds?</h4>
            </div>
            <div class="row mt-45">
                <div class="col-sm-12 col-12 offset-sm-0">
                  <div class="countup-box-2">
                     
                     <p>Hedge Funds are alternative investment using pooled funds that employ numerous different strategies to earn active return, or alpha, for their investors. Hedge Funds can be aggressively managed or make use of derivatives and leverage in both domestic and international markets with goal of generating of higher return (either in absolute sense or over a specified market benchmark).</p>
					 <p>It is important to know that the hedge funds are generally only accessible to accredited investors as they require less regulations than other funds. One aspect that has set the hedge fund industry apart is the fact that hedge funds face less regulation than mutual funds and other investment vehicle.
                  Each hedge fund is created to take advantage of certain identifiable market opportunities. Hedge funds use different investment strategies and thus are often classified according to investment style. There is substantial diversity in risk attributes and investments among styles.</p>

                  <p>Legally, Hedge funds are most often set up as private investment limited partnerships that are open to a limited number of accredited investors and require a large initial minimum investment. Investments in hedge funds are illiquid as they often require investors to keep their money in the fund for at least a year, a time known as lock up period. Withdrawals may also only happen at certain intervals such as quarterly or bi-annually.</p>
					 
                  </div>
               </div>
            </div>
            <div class="mt-40"><a href="#" class="button-primary button-md">Learn More</a></div>
         </div>
      </div>
   </div>
</div>

   
  
<div class="section-block">
   <div class="section-angle"></div>
   <div class="container">
      <div class="section-heading text-center">
         <small>PROFESSIONAL SERVICES</small>
         <h2 class="semi-bold font-size-35">Advantages of Stride Consultancy Services</h2>
         <div class="section-heading-line line-thin"></div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="row mt-30">
         <div class="col-md-3 col-sm-6 col-12">
            <div class="features-box-2">
               <div class="features-box-2-icon"><i class="icon-search-2"></i></div>
               <h4>No Upfront Fees</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="features-box-2">
               <div class="features-box-2-icon"><i class="icon-megaphone"></i></div>
               <h4>Flexible and customizable model</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="features-box-2">
               <div class="features-box-2-icon"><i class="icon-graph"></i></div>
               <h4>Transparency</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>
         </div>
         <div class="col-md-3 col-sm-6 col-12">
            <div class="features-box-2">
               <div class="features-box-2-icon"><i class="icon-wallet"></i></div>
               <h4>Committed</h4>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            </div>
         </div>
      </div>
      <div class="text-center mt-40"><a href="#" class="button-grey-bordered button-md text-uppercase">Become a client</a></div>
   </div>
</div>