    <div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>AIF</h1>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Pages", root_path %></li>
                <li><%= link_to "AIF", root_path %></li>
            </ul>
        </div>
    </div>
   
  
<div class="section-block">
   <div class="container">
      <div class="row">
         <div class="col-md-5 col-sm-5 col-12">
            <div class="dots-bg-2 pr-30-md">
               <div class="section-heading text-left">
                  <small class="primary-color">Insight for the connected world</small> 
                  <h4 class="semi-bold">ALTERNATE INVESTMENT FUND</h4>
                  <div class="section-heading-line line-thin"></div>
                  <div class="mt-30"> <a href="#" class="button-simple">Become a client <i class="fa fa-arrow-right primary-color"></i></a> </div>
               </div>
            </div>
         </div>
         <div class="col-md-7 col-sm-7 col-12 text-right">
            <div class="row">
               <div class="text-content mt-15">
                  <p>Alternative Investment Fund or AIF means any fund established or incorporated in India which is a privately pooled investment vehicle which collects funds from sophisticated investors, whether Indian or foreign, for investing it in accordance with a defined investment policy for the benefit of its investors. </p>
				  <p>AIF employ diverse or complex trading strategies and may employ leverage including through investment in listed derivatives.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="section-block pt-0">
   <div class="container">
      <div class="row">
         <div class="col-md-6 col-sm-6 col-12"><%= image_tag("about-6.jpg", class: "rounded-border shadow-primary", :alt=> "image") %></div>
         <div class="col-md-6 col-sm-6 col-12">
            <div class="pl-30-md mt-10">
               <div class="section-heading">
                  <small class="uppercase">Who we are</small> 
                  <h4 class="semi-bold font-size-35">We're knowledgeable about making benefits higher</h4>
               </div>
               <div class="text-content mt-15">
                  <p>Alternative Investment Funds trade with a view to make short term returns or such other funds which are open ended and for which no specific incentives or concessions are given by the government or any other Regulator. Units of close ended Alternative Investment Fund may be listed on stock exchange subject to minimum tradable lot of one crore rupees. Such listing shall be permitted only after final close of the fund or scheme. However, listing on stock exchanges is purely voluntary.</p>
               </div>
             
            </div>
         </div>
      </div>
   </div>
</div>
