<div class="breadcrumb-section jarallax pixels-bg" data-jarallax data-speed="0.6">
        <div class="container text-center">
            <h1>Our Strategies</h1>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Our Strategies</a></li>
            </ul>
        </div>
    </div>
  
  <div class="section-block">
   <div class="container">
      <div class="row">
         <div class="col-md-7 col-sm-7 col-12"><%= image_tag("s7.jpg", alt: "image", class: "rounded-border") %></div>
         <div class="col-md-5 col-sm-5 col-12">
            <div class="pl-30-md">
               <div class="section-heading mt-15">
                  <div class="icon-holder-md"> <i class="icon-note-with-list-square-outlined-interface-symbol"></i> </div>
                  <h4 class="semi-bold mt-30"><a href="#">Accurate data for precision marketing</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               </div>
               <a href="#" class="button-md button-grey mt-20">Learn More</a> 
            </div>
         </div>
      </div>
      <div class="row reverse-xs mt-70">
         <div class="col-md-5 col-sm-5 col-12">
            <div class="pr-30-md">
               <div class="section-heading mt-15">
                  <div class="icon-holder-md"> <i class="icon-unlocked-padlock-outlined-symbol"></i> </div>
                  <h4 class="semi-bold mt-30"><a href="#">Tailored marketing solutions for your business</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               </div>
               <a href="#" class="button-md button-grey mt-20">Learn More</a> 
            </div>
         </div>
         <div class="col-md-7 col-sm-7 col-12"><%= image_tag("s8.jpg", alt: "image", class: "rounded-border") %></div>
      </div>
      <div class="row mt-70">
         <div class="col-md-7 col-sm-7 col-12"><%= image_tag("s9.jpg", alt: "image", class: "rounded-border") %></div>
         <div class="col-md-5 col-sm-5 col-12">
            <div class="pl-30-md">
               <div class="section-heading mt-15">
                  <div class="icon-holder-md"> <i class="icon-tag-with-cord-outlined-interface-symbol"></i> </div>
                  <h4 class="semi-bold mt-30"><a href="#">Measurable marketing. Maximising results.</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
               </div>
               <a href="#" class="button-md button-grey mt-20">Learn More</a> 
            </div>
         </div>
      </div>
   </div>
</div>