<tr class="subnav-item">
  <td><%= f.text_field :name, placeholder: "subnav name" %></td>
  <td><%= f.hidden_field :nav_id %> </td> 
  <td><%= link_to "", '#', class: "remove_record fa fa-trash" %></td>
</tr>
