<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @stock_market_update.description %>
</p>

<%= link_to 'Edit', edit_stock_market_update_path(@stock_market_update) %> |
<%= link_to 'Back', stock_market_updates_path %>
