
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <div class="logo">
        <center><%= image_tag("logo-footer-3.png", style: "width: 140px", class: "simple-text logo-normal") %></center>
      </div>
      <div class="sidebar-wrapper">
         <ul class="nav">
            <li class="nav-item ">
              <a class="nav-link" href="/admin">
                <i class="material-icons">apps</i>
                <p>dashboard</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#" data-toggle="collapse" data-target="#header">
                <i class="material-icons">storage</i>
                <p style="cursor: pointer;">header</p>
              </a>
                <div id="header" class="collapse content" style="background-color: rgba(15, 23, 36, 0.53);">
                  <ul style="list-style-type: none;">
                    <li class="nav-item">
                      <a class="nav-link" href="/admin/logos">
                        <i class="material-icons">bubble_chart</i>
                        <p>logo</p>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/menus">
                        <i class="material-icons">menu</i>
                        <p>menu</p>
                      </a>
                    </li>
                  </ul>
                </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#" data-toggle="collapse" data-target="#body">
                <i class="material-icons">library_books</i>
                <p style="cursor: pointer;">content</p>
              </a>
                <div id="body" class="collapse content" style="background-color: rgba(15, 23, 36, 0.53);">
                  <ul style="list-style-type: none;">
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/sliders">
                        <i class="material-icons">code</i>
                        <p>slider</p>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/news_firsts">
                        <i class="material-icons">event_note</i>
                        <p>first news</p>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/news_seconds">
                        <i class="material-icons">import_contacts</i>
                        <p>second news</p>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/news_latests">
                        <i class="material-icons">local_library</i>
                        <p>latest news</p>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/stock_market_updates">
                        <i class="material-icons">business</i>
                        <p>stock updation</p>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/training_blogs">
                        <i class="material-icons">textsms</i>
                        <p>training blog</p>
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="/admin/training_videos">
                        <i class="material-icons">video_library</i>
                        <p>training video</p>
                      </a>
                    </li>
                  </ul>
                </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/admin/footerlinks">
                <i class="material-icons">layers</i>
                <p>footer</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="">
                <i class="material-icons">library_books</i>
                <p>typography</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="">
                <i class="material-icons">location_ons</i>
                <p>maps</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="">
                <i class="material-icons">notifications</i>
                <p>notification</p>
              </a>
            </li>
          </ul>
      </div>
    </div>
    